In [1]:
import numpy as np #Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("HousePrice.csv") # Housing Price Dataset

In [3]:
df.head()

,Date,Price (All),Change (All),Price (New),Change (New),Price (Modern),Change (Modern),Price (Older),Change (Older)
0,1952-11-01,1891,0.0,2107,0.0,2020,0.0,1524,0.0
1,1953-02-01,1891,0.0,2107,0.0,2002,0.0,1542,0.0
2,1953-05-01,1891,0.0,2107,0.0,2002,0.0,1542,0.0
3,1953-08-01,1881,0.0,2117,0.0,2002,0.0,1524,0.0
4,1953-11-01,1872,-1.0,2117,0.5,1975,-2.2,1542,1.2

In [4]:
df.describe() #Descriptive Statistics

,Price (All),Change (All),Price (New),Change (New),Price (Modern),Change (Modern),Price (Older),Change (Older)
count,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000
mean,60019.827586,7.849042,65825.655172,7.757088,50620.252874,7.467433,50376.616858,8.103831
std,66028.310182,9.029825,68742.228293,8.784208,57065.010315,9.221232,60743.061642,9.356983
min,1853.000000,-16.500000,2107.000000,-16.300000,0.000000,-16.600000,0.000000,-17.400000
25%,4145.000000,2.400000,4657.000000,3.100000,3726.000000,1.300000,2958.000000,1.900000
50%,34174.000000,7.200000,43080.000000,6.600000,25537.000000,6.600000,22030.000000,7.500000
75%,91049.000000,10.900000,101312.000000,10.600000,67183.000000,10.900000,63751.000000,12.000000
max,211672.000000,42.400000,233723.000000,46.200000,179358.000000,41.200000,201008.000000,43.200000

In [10]:
df = df.drop(['Date'],axis=1)

In [11]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,7].values

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42) #Spliting training and test data

In [13]:
regressor = LinearRegression()

In [14]:
regressor.fit(X_train,y_train) #Fit the training data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [15]:
y_pred = regressor.predict(X_test) #y_prediction

In [16]:
regressor.score(X_test,y_test) #Regressor score for test data

0.9863837442462788